:root
{
    --color-black:black;
    --color-primary:rgba(253, 246, 230, 0.726);
    --color-secondary:rgba(80, 62, 62, 0.759);
    --color-white:rgba(255, 255, 255, 0.748);
    --box-shadow1:0 2rem 3rem rgba(0, 0, 0, 0.054);
    --box-shadow2:4px 0px 12px -2px rgba(0,0,0,0.3);
    /*rgba(132,139,200,0.18)*/
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}
body
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);

    /* background-color: rgba(89, 54, 11, 0.678); */
}
.parent
{
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);

    /* border-radius: 20px; */
    display: grid;
    grid-template-columns: 13% 87%;
}
.fils1
{
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100%;
    width: 100%;
    position: relative;
    color: var(--color-white);
}
.logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    width: 80%;
    position: relative;
    left: 20%;
}
.option ul{list-style: none;margin-top: 50px;}
.option li
{
    
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bolder;
    transition: all 0.2s ease 0.1s;
    display: flex;
    align-items: center;
    height: 50px;
}
.option li:hover
{
    border-left: 3px solid var(--color-primary);
    background-image:linear-gradient(90deg,rgba(238, 233, 233, 0.087),rgba(238, 233, 233, 0.03));
}
.option li a
{
    width: 80%;
    position: relative;
    left: 20%;
    cursor: pointer;
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 10px;
}
.option a img
{
    width: 18px;
    height: 18px;
}
.fils2
{
    background-color: var(--color-primary);
    /* border-radius: 20px; */
    box-shadow:0px 0px 5px 2px rgba(0,0,0,0.3);
    display: grid;
    grid-template-rows: 10% 90%;
}
.entete
{
    display: grid;
    grid-template-columns: 50% 50%;

}
.entete1
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.retour
{
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow2);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform:translateX(-20px);
}
.retour a
{
    font-size: 10px;
    color: var(--color-black);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.retour img
{
    width: 25px;
    height: 25px;
}
.titre_page
{
    margin-left: 50px;
    font-size: 13px;
}
.search input
{
    background: none;
    border: none;
    font-weight: bold;
}
.entete2
{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.notification
{
    display: flex;
    align-items: center;justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(19, 19, 19, 0.211);
}
.noti_nombre
{
    width: 100px;
    position: fixed;
    transform: translate(55px,-15px);
}
.noti_nombre span
{
    
    background-color:rgb(233, 118, 118);
    border-radius: 50%;
    font-size: 13px;
    font-weight: 900;
    padding: 1px 5px;
    color: var(--color-white);
}
.noti_icone img
{
    width: 20px;
    height: 20px;
}
.profil
{
    display: flex;
    align-items: center;
}
.image_profil
{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.image_profil img
{
    width: 40px;
    height: 40px;
}
.nom_profil
{
    width: 200px;
}
.corps
{
    display: grid;
    grid-template-rows: 40% 60%;
    
}
.corps-bloc1
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    position: relative;
    left:8%;
}
.info_g,.utilisateur,.docs_ajouter
{
    box-shadow: var(--box-shadow1);
    width: 80%;
    height: 80%;
    border-radius: 10px; 
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: var(--color-primary);
}
.info_g
{
    
}
.info_entete,.util_entete
{
    display: flex;
    align-items: flex-end;
    line-height: 5px;
    justify-content: space-around;
}
.info_entete strong,.util_entete strong
{
    font-size: 20px;
    position: relative;
    right: 11%;
}
.info_entete img,.util_entete img
{
    width: 15px;
    height: 15px;
    position: relative;
    left: 4%;
}
.info_entete span,.util_entete span
{
    font-size: 15px;
    position: relative;
    right: 25%;
    color: rgba(0, 0, 0, 0.726);
}
.info_corps
{
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
   flex-direction: column;
}
.info_corps div
{
    position: relative;
    left: 15%;
    width: 80%;
    display: flex;
    justify-content:start;
}
.info_corps div span
{
    text-align: center;
    width: 40%;
    color: rgba(0, 0, 0, 0.726);
    font-size: 13px;
}
.info_corps div strong
{
    width: 50%;
    text-align: start;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.827);
}
.info_corps div button
{
    width: 10%;
    height: 15px;
    display: flex;
    align-items: center;
    border: none;
    cursor: none;
    background: none;
}
.info_corps div button p
{
    padding: 3px 3px;
}
.info_corps ul{list-style:disc;}
.color_red
{
    background-color: brown;
}
.color_blue
{
    background-color:skyblue;
}
.color_green
{
    background-color: darkgreen;
}




.util_corps 
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: space-around;
}
.util_corps div
{
    position: relative;
    left: 15%;
    width: 80%;
    display: flex;
    justify-content:start;
}
.util_corps div span
{
    text-align: center;
    width: 40%;
    color: rgba(0, 0, 0, 0.726);
    font-size: 13px;
}
.util_corps div strong
{
    width: 50%;
    text-align: start;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.827);
}
.util_corps div button
{
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    border: none;
    cursor: none;
    background: #f2ecec48;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.827);
    
}
.corps-bloc2
{
    display: grid;
    grid-template-columns: 62% 30%;
}
.graphe
{
    box-shadow: var(--box-shadow1);
    border-radius: 10px;
    background-color: var(--color-primary);
    height: 90%;
    margin-left: 13%;
}
.raccourci
{
    box-shadow: var(--box-shadow1);
    border-radius: 10px;
    height: 90%;
    width: 80%;
    margin-left: 20%;
    display: grid;
    grid-template-rows: 13% 85%;
}
.rac_entete
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: 10px;
}
.rac_corps
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 90%;
    position: relative;
    top: 10%;
}
.rac_corps div
{
    background-color: var(--color-primary);
    width: 85%;
    height: 65%;
    position: relative;
    left: 8%;
    border-radius: 10px;
}